.div-form{
    border: solid 0.09px rgb(204, 204, 204);
    padding-top: 100px;
    height: 400px;
    width: 400px;
    margin: auto;
    box-shadow: 0.2px 0.2px 50px rgb(202, 202, 202);
    margin-top: 200px;
}

#div-form input{
    margin: 20px 5px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: solid 0.09px rgb(138, 138, 138);
    padding: 5px;
    opacity: 70%;
    align-items: center;
}


.button{
    color: aliceblue;
    text-decoration: none;
    margin-left: 125px;
    margin-top: 90px;
}