.div-form{
    border: solid 0.09px rgb(204, 204, 204);
    padding-top: 50px;
    height: 600px;
    width: 400px;
    margin: auto;
    box-shadow: 0.2px 0.2px 50px rgb(202, 202, 202);
}

#div-form input{
    margin: 6px 0;
    width: 280px;
    height: 30px;
    border-radius: 5px;
    border: solid 0.09px rgb(138, 138, 138);
    padding: 5px;
    opacity: 70%;
}


.submit{
    background-color: rgb(8, 8, 8);
    color: aliceblue;
}